:root{
  --black: #151515;
  --grey: #444444;
  --brown-button: #D5966C;
  --primary-font: "Big Shoulders", sans-serif;
  --secundary-font: "Outfit", sans-serif;
}

.resolution{
  width: 99%;
}
/** Mobile **/
@media (max-width: 767px){
  .desktop{
    display: none;
  }
  .tablet{
    display: none;
  }
}

/** Tablet **/

@media (min-width: 768px) and (max-width:990px){

  .desktop{
    display: none;
  }
  .mobile{
    display: none;
  }

}

/** Desktop **/

@media (min-width: 991px) {
  .tablet{
    display: none;
  }
  .mobile{
    display: none;}

}


/** Mobile **/

@media (max-width: 767px){

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .hero img{
    width: 414px;
    height: 280px;
    text-align: center;
  }

  .hero h1{
    font-size: 70px;
    margin: 32px 16px;
    font-family: var(--primary-font);
    line-height: 1  ;
  }

  .hero h1 span{
    display: block;
  }

  .hero p{
    color: var(--grey);
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
    margin: 32px 16px;
    max-width: 380px;
    font-family: var(--secundary-font);
  }


  .content__button{
    display: inline-block;
    text-align: center;
    align-content: center;

  }

  .content__button a {
    margin: 0;
    padding: 0;
  }
  .hero .button{
    background-color: var(--black);
    color: white;
    text-decoration: none;
    padding: 20px 0px 20px 30px;
    font-size: 20px;
    font-weight: bolder;
    font-family: var(--primary-font);
    margin: 32px 86px 120px 16px;
    letter-spacing: 3px;
  }

  .hero .button span{
    background-color: var(--brown-button);
    color: white;
    font-size: 30px;
    font-family: var(--primary-font);
    align-items: end;
    padding-top: 22px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: -2px;
  }

  .container2{
    margin-left: 16px;
    margin-right: 16px;
  }

  .container2 .pic__1{
    max-width: 380px;
    height: 320px;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 55px;
    font-family: var(--primary-font);
    line-height: 0.9;
    font-weight: bolder;
    color: var(--black);
    letter-spacing: -2px;
    margin-bottom: 21px;
  }

  h2 span{
    display: flex;
  }

  .container2 p.subtitle{
    font-size: 18px;
    color: var(--grey);
    font-weight: light;
    font-family: var(--secundary-font);
    max-width: 390px;
    line-height: 1.5;
    margin-bottom: 32px;
  }

  .container2 .pic__2{
    max-width: 380px;
    height: 480px;
    margin-bottom: 16px;
  }

  .container2 .pic__3{
    max-width: 380px;
    height: 268px;
    margin-bottom: 16px;
  }

  .container2 .hero-secondary{
    background-color: var(--black);
    color: white;
    max-width: 380px;
    height: auto;
    padding: 48px 24px;
    margin-bottom: 120px;
  }

  .hero-secondary h3{
    font-family: var(--primary-font);
    font-size: 50px;
    margin-bottom: 24px;
  }

  .hero-secondary p{
    font-family: var(--secundary-font);
    font-size: 18px;
    font-weight: lighter;
    max-width: 390px;
    line-height: 1.5;
  }

  footer{
    width: 414px;
    height: 350px;
    background-color: var(--black);
    color: white;
    padding: 48px 32px;
  }

  footer img{
    max-width:130px;
    min-height: auto;
    margin-bottom: 38px;
  }

  footer p{
    font-family: var(--secundary-font);
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 38px;
  }

  footer div img{
    max-width: 20px;
    margin-right: 20px;
    padding-bottom: 48px;
  }

/** Location Mobile **/

  .button-location{
    background-color: var(--black);
    color: white;
    text-decoration: none;
    padding: 20px 30px 20px 0px;
    font-size: 20px;
    font-weight: bolder;
    font-family: var(--primary-font);
    position: absolute;
    letter-spacing: 3px;
  }
  .button-location span{
    background-color: var(--brown-button);
    color: white;
    font-size: 30px;
    font-family: var(--primary-font);
    align-items: end;
    padding-top: 22px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: -2px;
  }

  .hero-location img{
    width: 100%;
    height: 550px;
  }

  .hero-2-location{
    background-color: var(--black);
    color: white;
    padding: 48px 16px 56px 16px;
  }

  .hero-2-location h1{
    font-family: var(--primary-font);
    font-size: 60px;
    margin-bottom: 48px;
  }

  .hero-2-location .subtitle-location{
    font-family: var(--primary-font);
    font-size: 32px;
    color: var(--brown-button);
    font-weight: bold;
    margin-bottom: 20px;
  }

  .hero-2-location .direction{
    font-family: var(--secundary-font);
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .hero-2-location .text{
    font-family: var(--secundary-font);
    font-size: 19px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
  }

  footer{
    width: 100%;
    height: auto;
  }
  .footer-location{
    background-color: var(--brown-button);
    color: var(--black);
    padding: 48px 32px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .footer-location img{
    max-width:110px;
    height: 104px;
    margin-bottom: 38px;
    fill: var(--black);
  }

  .footer-location p{
    font-family: var(--secundary-font);
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 38px;
    max-width: 311px;
  }

  .footer-location div img{
    max-width: 20px;
    margin-right: 20px;
    padding: 0;
  }



}

/** Tablet **/

@media (min-width: 768px) and (max-width:990px){

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .parent {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 120px;
  }

  .div1 {
    flex: 1;
  }

  .div1 img {
    width:437px;
    display: block;
    height: auto;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .info h1 {
    font-size: 70px;
    font-family: var(--primary-font);
    line-height: 0.9;
    margin-left: -110px;
    margin-bottom: 115px;
  }

  .tablet .hero h1 span{
    display: block;
  }

  .tablet .hero p{
    color: var(--grey);
    font-size: 16px;
    font-weight: lighter;
    width: 310px;
    height: 112px;
    font-family: var(--secundary-font);
    position:relative;
    bottom: 105px;
    right: 113px;
  }

  .content__button{
    text-align: center;
    align-content: center;
    position: absolute;
    bottom: 40%;
    left: 48%;
  }

  .content__button a {
    margin: 0;
    padding: 0;
  }
  .hero .button{
    background-color: var(--black);
    color: white;
    text-decoration: none;
    padding: 10px 0px 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family: var(--primary-font);
    margin: 32px 86px 120px 16px;
    letter-spacing: 3px;
    position: relative;
    top: 300px;
  }

  .hero .button span{
    background-color: var(--brown-button);
    color: white;
    font-size: 30px;
    font-family: var(--primary-font);
    align-items: end;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -2px;
  }

  .container2{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
  }

  section .img-museo{
    display: flex;

  }

  .container2 .pic__1{
    max-width: 398px;
    height: 400px;
    margin-bottom: 11px;

  }

 .container2 {
  max-width: 1200px;
  margin: 0 40px 0 40px;
}

.img-museo {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
  align-items: center;
}

h2 {
    font-size: 50px;
    font-family: var(--primary-font);
    line-height: 1;
    font-weight: bolder;
    color: var(--black);
    letter-spacing: -2px;
    height: 125px;
    width: 223px;
    margin: 36px 68px 24px 39px;
    padding-top: 36px;

  }

  *figure {
    margin: 0;
    padding: 0;
  }

  .container2 p.subtitle{
    font-size: 18px;
    color: var(--grey);
    font-weight: lighter;
    font-family: var(--secundary-font);
    max-width: 300px;
    line-height: 1.5;
    margin-top: 32px;
    margin-right: 63px;

  }

  section .img-museo{
    display: flex;
  }


  .pic__1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .grid section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  /* IMAGEN GRANDE IZQUIERDA */
  .pic__2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 398px;
    height: 720px;
    object-fit: cover;
  }

  /* IMAGEN CHICA ARRIBA DERECHA */
  .pic__3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 275px;
    height: 313px;
    object-fit: cover;
  }

  /* BLOQUE NEGRO ABAJO DERECHA */
  .hero-secondary {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: #151515;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -412px;
    max-width: 280px;
    height: 398px;
    margin-bottom:  118px;
  }

  .hero-secondary h3 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: var(--primary-font);
  }

  .hero-secondary p{
    font-family: var(--secundary-font);
    font-weight: lighter;
  }

  footer{
    display: flex;
    max-width: 990px;
    height: 216px;
    background-color: var(--black);
    color: white;
    padding: 48px 32px;
    margin:0;
  }

  footer img{
    max-width:111px;
    min-height: 40px;
    margin-bottom: 90px;
  }

  footer p{
    font-family: var(--secundary-font);
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
    max-width: 281px;
    height: 104px;
    margin-left: 65px;
    margin-right: 16px;
  }

  footer div.icons{
    max-width: 200px;
    display: flex;
  }

  footer div img{
    max-width: 20px;
    margin-right: -96px;
    margin-left: 115px;
  }


/** Location Tablet **/

  .hero-location img{
    width: 100%;
    height: 550px;
  }

  .hero-2-location{
    display: flex;
    background-color: var(--black);
    color: white;
    padding: 80px 40px;
  }

  .hero-2-location h1{
    font-family: var(--primary-font);
    font-size: 55px;
    margin-bottom: 48px;
    padding-top: 30px;
    line-height: 1;
  }

  .hero-2-location h2{
    font-family: var(--primary-font);
    font-size: 40px;
    color: var(--brown-button);
    font-weight: bold;
    display: inline-block ;
    margin-left: 70px;
    letter-spacing: 1.5px;
    width: 250px;
    padding-top: 0;
    height: auto;
  }

  .hero-2-location .direction{
    font-family: var(--secundary-font);
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 70px;
  }
  .hero-2-location .text{
    font-family: var(--secundary-font);
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    margin-left: 70px;
  }

  footer{
    width: 100%;
    height: auto;
  }
  .footer-location{
    background-color: var(--brown-button);
    color: var(--black);
    padding: 48px 32px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .footer-location img{
    max-width:110px;
    height: 40px;
    margin-bottom: 38px;
    fill: var(--black);
  }

  .footer-location p{
    font-family: var(--secundary-font);
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 38px;
    max-width: 281px;
  }

  .footer-location .icons_tablet img{
    max-width: 20px;
    height: auto;
    padding: 0px;
  }



}


  /** DESKTOP **/
@media (min-width: 991px) {

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  header{
    width: 1580px;
    height: 800px;
    margin-bottom: 177px;
  }

  header.hero div{
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: 0;
  }

  .hero .black {
    width: 450px;
    height: 800px;
    display: flex;
    margin-right: 0;
  }

  header.hero div img.imagen {
    display: flex;
    max-width:540px;
    height: 800px;
    margin-left:0;
  }

  .desktop .hero h1{
    font-size: 96px;
    font-family: var(--primary-font);
    line-height: 0.9;
    color: white;
    position: relative;
    left: 186px;
    bottom: 615px;
  }

  .desktop .hero h1 span{
    display: block;
  }

  .desktop .hero p{
    color: var(--grey);
    font-size: 19px;
    font-weight: lighter;
    width: 300px;
    height: 112px;
    font-family: var(--secundary-font);
    position: relative;
    bottom: 775px;
    left: 59%;
  }


  .content__button{
    text-align: center;
    align-content: center;
    position: relative;
    bottom: 700px;
    left: 58%;
  }

  .content__button a {
    margin: 0;
    padding: 0;
  }
  .hero .button{
    background-color: var(--black);
    color: white;
    text-decoration: none;
    padding: 10px 0px 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family: var(--primary-font);
    margin: 32px 86px 120px 16px;
    letter-spacing: 3px;
  }

  .hero .button span{
    background-color: var(--brown-button);
    color: white;
    font-size: 30px;
    font-family: var(--primary-font);
    align-items: end;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -2px;
  }


  section .img-museo{
    display: flex;

  }

  .container2 .pic__1{
    max-width: 595px;
    height: 400px;
    margin-bottom: 28px;

  }

 .container2 {
  max-width: 100%;
  margin: 0 165px;
}

.img-museo {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
  align-items: center;
}

div.hero-1{
  max-width: 350px;
  height: 350px;
}

h2 {
    font-size: 70px;
    font-family: var(--primary-font);
    line-height: 1;
    font-weight: bolder;
    color: var(--black);
    letter-spacing: -2px;
    height: 120px;
    width: 300px;
    margin-bottom: 70px;
  }

  *figure {
    margin: 0;
    padding: 0;
  }

  .container2 p.subtitle{
    font-size: 22px;
    color: var(--grey);
    font-weight: lighter;
    font-family: var(--secundary-font);
    line-height: 1.5;
    height: 120px;
    width: 310px;
  }

  section .img-museo{
    display: flex;
  }

  div.hero-1 {
    max-width: 350px;
    height: 350px;
    margin-left: 60px;
  }

  .pic__1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .grid section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  /* IMAGEN GRANDE IZQUIERDA */
  .pic__2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 635px;
    height: 720px;
    object-fit: cover;
  }

  /* IMAGEN CHICA ARRIBA DERECHA */
  .pic__3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 445px;
    height: 313px;
    object-fit: cover;
  }

  /* BLOQUE NEGRO ABAJO DERECHA */
  .hero-secondary {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: #151515;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -392px;
    max-width: 445px;
    height: 377px;
    margin-bottom: 178px;
  }

  .hero-secondary h3 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: var(--primary-font);
  }

  .hero-secondary p{
    font-family: var(--secundary-font);
    font-weight: lighter;
  }

  footer{
    display: flex;
    max-width: 100%;
    height: 244px;
    background-color: var(--black);
    color: white;
    padding: 81px 165px;
    margin:0;
    justify-content: space-between;
  }

  footer img{
    max-width:160px;
    min-height: 58px;
    margin-bottom: 90px;
    margin-right: 0px;
  }

  footer p{
    font-family: var(--secundary-font);
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    max-width: 430px;
    height: 84px;
    margin-left: 140px;
    margin-right: 280px;
  }

  footer div.icons{
    max-width: 200px;
    display: flex;
  }

  footer div img{
    max-width: 20px;
    margin-right: 20px;
  }



/** Location Desktop **/

  .desktop .container {
    margin: 0;
    padding: 0;
  }
  figure{
    margin: 0;
    padding: 0;
  }

  div.container-location{
    margin: 0;
    padding: 0;
  }

  .hero-location {
    padding: 0;
    margin: 0;
  }

   .button-location{
    background-color: var(--black);
    color: white;
    text-decoration: none;
    padding: 20px 30px 20px 0px;
    font-size: 20px;
    font-weight: bolder;
    font-family: var(--primary-font);
    position: absolute;
    letter-spacing: 3px;
    margin-left: 170px;
  }
  .button-location span{
    background-color: var(--brown-button);
    color: white;
    font-size: 30px;
    font-family: var(--primary-font);
    align-items: end;
    padding-top: 22px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero-location img{
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .hero-2-location{
    background-color: var(--black);
    color: white;
    padding: 48px 16px 80px 16px;
    display: flex;
    max-width: 100%;
    height: auto;
    margin-top: -4px;
  }

  .hero-2-location h1{
    font-family: var(--primary-font);
    font-size: 60px;
    margin-bottom: 48px;
    margin-left: 165px;
    width: 200px;
  }

  .location-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 180px;
  }

  .hero-2-location .subtitle-location{
    font-family: var(--primary-font);
    font-size: 32px;
    color: var(--brown-button);
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 220px;
    width: 350px;
    height: 36px;
  }

  .hero-2-location .direction{
    font-family: var(--secundary-font);
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 220px;
  }
  .hero-2-location .text{
    font-family: var(--secundary-font);
    font-size: 19px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    margin-left: 220px;
    width: 490px;
  }

  .footer-location{
    max-width: 100%;
    height: 244px;
    background-color: var(--brown-button);
    color: var(--black);
    padding: 81px 110px;
    margin-top: 327px;
    box-sizing: none;
  }

  .footer-location img{
    max-width:160px;
    height: 60px;
    margin-bottom: 38px;
    fill: var(--black);
    margin-right: 140px;
  }

  .footer-location p{
    font-family: var(--secundary-font);
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 38px;
    max-width: 435px;
    margin-right: 280px;
  }

  .footer-location .icons_desktop{
    max-width: 200px;
  }

  .footer-location .icons_desktop img{
    max-width: 20px;
    height: auto;
    padding: 0px;
    margin-right:17px;
  }
}


